@model SummerPractise.MVC.Models.User

<head>
    <style type="text/css">
        table {
            border: 3px double;
            border-color: black;
            border-collapse: collapse;
        }

        td {
            border: 1px solid;
            border-color: black;
            text-align: left;
        }

        a.myClass {
            color: black;
            text-decoration: none;
            background-color: white;
        }

        a.myClass:hover {
            color: black;
            text-decoration: none;
            background-color: whitesmoke;
        }

        a.myClass:active {
            color: gray;
            text-decoration: none;
            background-color: whitesmoke;
        }

        a.myClass1 {
            border: solid;
            border-color: black;
            color: black;
            text-decoration: none;
            background-color: white;
        }

        a.myClass1:hover {
            color: black;
            text-decoration: none;
            background-color: whitesmoke;
        }

        a.myClass1:active {
            color: gray;
            text-decoration: none;
            background-color: whitesmoke;
        }
    </style>
</head>
<h2>Информация о Вас</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Добавить книгу", "AddBookToUser", new { }, new { @class = "myClass1" })
</div>

<table>
    <tr>
        <td>Name</td>
        <td>Year</td>
        <td>AuthorSurname</td>
        <td>AuthorName</td>
        <td>AuthorPatronymic</td>
        <td>Удалить книгу</td>
    </tr>
    @foreach (var book in ViewBag.books)
    {
    <tr>
        <td>@book.Book.Name</td>
        <td>@book.Book.Year</td>
        <td>@book.Book.AuthorSurname</td>
        <td>@book.Book.AuthorName</td>
        <td>@book.Book.AuthorPatronymic</td>
        <td>
            @Html.ActionLink("Удалить книгу", "DeleteBookToUser", new { id = book.Book.Id }, new { @class = "myClass" })
        </td>
    </tr>
    }
</table>